<p id="notice"><%= notice %></p>

<p>
  <strong>Facebook:</strong>
  <%= @user.facebook_id %>
</p>

<p>
  <strong>Last login:</strong>
  <%= @user.last_login %>
</p>

<p>
  <strong>Hiker/driver:</strong>
    <% if @user.hiker? %>
      hiker
    <% elseif @user.driver? %>
      driver
    <% end %>

</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
